 <h1 id="gameTitle">Drunk Box</h1>
 <div class ="gameRow">
   <%= image_tag "pokeballBtn.png", class: "gameIcon"%>
   <%= button_tag "Pokemon Drinking Game", type: "button", onclick: "javascript:selectGame('pkmon')", class: "menu_btn", id: "pokemon" %>
</div>

<%= form_with scope: :game, url: game_new_path, local: true, id: "overlay" do |form| %>
  <div id="playerCountSection">
  <%= form.hidden_field :gameName %>
    <p>
      <%= form.label :playerCount, "Player Count" %>
      <%= form.text_field :playerCount %>
    </p>
    <p>
      <%= form.submit :Start, id: "startButton" %>
      <%= button_tag "Cancel", type: "button", onclick: "javascript:hidePlayerCountSection()", id: "cancelButton" %>
    </p>
</div>
<% end -%>
