<%= content_tag :body, class: "game", id: "pokemonGame" do -%>
  <%= form_with scope: :player, local: true, class: "overlay" do |form| %>
    <div class="playerCountSection">
      <p>
        <%= form.label :playerCount, "Player Count" %>
        <%= form.text_field :playerCount %>
      </p>
      <p>
        <%= form.submit :Start, id: "startButton" %>
      </p>
  </div>
  <% end -%>
<% end -%>
